body {
    margin: 0;
    background-image: url("https://wallpapers.com/images/hd/kyoto-fuji-san-view-dxo42w3pchmqmdrn.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header  {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    background-color: #212121be;
    color: #fff;
    padding: 5px;
}
.home_logo img  {
    height: 50px;
    z-index: 3;
}
.home_logo a  {
    display: inline-block;
    transition: 0.3s ease-in-out;
}
.home_logo a:hover  {
    opacity: 0.7;
    transform: scale(1.1);
}
nav ul  {
    list-style: none;
    display: flex;
}
nav li  {
    margin-right: 20px;
}
nav a  {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    transition: all 0.3s ease;
}
nav a:hover{
    color: #f00;
}
section{
    flex: 1;
    margin-bottom: 2rem;
}
footer{
    background-color: #212121be;
    color: #fff;
    padding: 5px 0;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.first {
    height: 100vh;
    width: 100%;
    z-index: 2;
}
.first h1 {
    color: rgb(222, 47, 47);
    font-family: 'Tilt Warp', cursive;
    font-size: 80px;
    font-weight: 300;
    margin: 0;
    padding: 10%;
}
.second {
    height: 100vh;
}
.container {
  list-style: none;
  height: auto;
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.guide {
  width: 45%;
  height: 40rem;
  margin: 3vh;
  background-color: #4a4a4abe;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  float: left;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.guide:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.guide img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
  

.guide .info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30%;
}

.guide .pays {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.5rem;
  font-family: 'Tilt Warp', cursive;
}

.guide h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  font-family: 'Tilt Warp', cursive;
  text-transform: uppercase;
  color: #ffffff;
}
.title_rech{
    display: flex;
    justify-content: center;
    font-family: 'Tilt Warp', cursive;
}
#pays{
    margin: 1rem;
}
label{
    margin: 1rem;
}
button{
    height: 1.5rem;
    margin: 1rem;
}
form{
    display: flex;
    justify-content: center;
}

.centre{
    display: flex;
    justify-content: center;
}
.blanc{
    text-transform: capitalize;
    font-size: 50px;
}

@media (max-width: 768px) {
  .guide {
    width: 90%;
  }
}


@media all and (orientation: portrait) {
    td > img  {
        max-width: 3rem;
        height: auto;
        display: block;
        margin: auto;
        border-radius: 50%;
    }
    .first > h1 {
        margin-top: 25rem;
        font-size: 100px;
    }
    body {
        background-position: -800px center;
        background-size: 400%;
    }
    header{
        padding: 10px;
    }
    nav a{
        font-size: 200%;
    }
    .footer_links{
        font-size: 20px;
    }
}
@media screen and (min-width: 1280px) {
    .first > h1 {
        width: 720px;
    }
}